<form method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn">Deletar</button>
</form>

<style>
  body {
            background-color: lightblue;
            /*background-image: url("paper.gif");*/
            height: 90%;
            margin: 20;
            padding: 20;
        }

  #client_nome {
        
         border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.7;
         font-size: 13px;
         margin: 05px 100px 25px 20px;
        

     }

     #client_endereco {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 100px 25px 20px;
     }
        #client_latitude {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 100px 25px 20px;
     }
        #client_longitude {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_cpf {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_email {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_aniversario {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_senha {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }


 input {
             width: 1200px;
             padding: 12px 20px;
             margin: 8px 0;
             box-sizing: border-box;
           
            }
.btn {
  background-color: #4272EE; /* Blue */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 1005px;
  transition-duration: 0.4s;
  cursor: pointer;
}
</style>
