{% extends 'base.html.twig' %}

{% block title %}Novo cliente{% endblock %}

{% block body %}
    <h1>Novo Cliente</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }} ">Voltar para lista</a>

<style>
          h1 { 
            text-align:center; 
     }

      
    </style>
{% endblock %}

