{% extends 'base.html.twig' %}

{% block title %}Novo cliente{% endblock %}


{% block body %}
    <h1>Novo Cliente</h1>

    {{ include('client/_form.html.twig') }}
    
    <a href="{{ path('client_index') }} ">Voltar</a>
    <br>
    <br>

<style>
      
        body, html, text {
            height: 90%;
            margin: 20;
            padding: 20;
        }

          h1 {
            margin-left: 50px;
        }

          

     #client_nome {
        
         border:2px solid Violet;
         background-color: DodgerBlue;
         opacity: 0.7;
         font-size: 13px;
         margin: 05px 100px 25px 20px;
        

     }

     #client_endereco {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 100px 25px 20px;
     }
        #client_latitude {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 100px 25px 20px;
     }
        #client_longitude {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_cpf {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_email {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_aniversario {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }
        #client_senha {
        border:2px solid Violet;
         margin-left: 10px;
         background-color: DodgerBlue;
         opacity: 0.9;
         font-size: 13px;
         margin: 05px 150px 25px 20px;
     }


       input {
             width: 1200px;
             padding: 12px 20px;
             margin: 8px 0;
             box-sizing: border-box;
           
            }


    a:link {
  font-size: 20px;
  box-sizing: border-box;
  text-align:center;
  margin: 1004px 25px 30px 15px;
  
}

.btn {
  background-color: #4272EE; /* Blue */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: 14px 1009px;
  transition-duration: 0.4s;
  cursor: pointer;
}

a {
    
        font-size: 50px;
          font-size: 30px;
        margin-left: 20px;
       
      }
      a:hover {
        background-color: #1c87c9;
      }
      a:active {
        background-color: #1c87c9;
      }
      
</style>
<br>

{% endblock %}

